---
layout: "base.njk"
---

<div class="project__content">
   <article class="snap-item">
      <div class="text-block">
         <h2 class="project__heading">{{ title }}</h2>
         <p>{{summary}}</p>
         <p>{{subtitle}}</p>
         <p><strong>Use the arrow keys, click on the arrows or use the mousewheel(gently) to navigate between pages</strong></p>
      </div>
   </article>
   {{ content | safe }}
</div>