---
title: "The Russian economy visualised"
summary: "Many people overrate the Russian GDP and thus its power. Probably because the Soviet Union was one of the great powers in the past. To make clear how small it actually is, its true economic power has been visualised."
subtitle: "GDP(Gross Domestic Product) is a number that describes the complete domestic output of a nation, and thus it's economic power. 
This is an incredibly important statistic to determine how powerful a nation is. Although there are some drawbacks(insert tooltip) to using this metric"
image: /images/russia-gdp-banner.jpg
imageAlt: "Industry in Russia"
jsUrl: '/js/subject-russia-gdp.js'
sources: 
    gdp: https://www.imf.org/en/Search#q=world%20gdp%20ranking%202022&sort=relevancy
    russia: "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?locations=RU"
    unitedStates: "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?locations=US&most_recent_value_desc=true"
values: 
    russia: "177878263"
    unitedStates: "2331508056"
countries:
    russia: "Russia" 
    unitedStates: "United States"
tags: "subjects"
---

<article class="snap-item">
    <div class="text-block">
        <h2>The ten largest economies in the world</h2>
        <p>
            Russia is only the 9th largest economy in the world. It's economy is many times smaller than that of the superpowers China and United States
        </p>
    </div>
    <div class="snap-item__chart-container">
        <canvas class="snap-item__chart" id="russia-and-others-chart"></canvas>
    </div>
</article>
<article class="snap-item">
    <h2>The Russian economy compared to Europe</h2>
    <p>Russia is similar in size to that of Italy</p>
    <p>Russia is the 5th largest European power</p>
    <p>Russia's economy is as large as the BeNeLux(Belgium, The Netherlands, Benelux)</p>
    tree map met europa
</article>
<article class="snap-item">
    <h2>The Russian economy compared to the United States</h2>
    <p>The United States has a GDP of 177878263 while Russia has a GDP of 2331508056. It is <em>13 times</em> larger</p>
</article>
<article class="snap-item">
    <h2>olifant:  3m high and weighing up to 6,000kg on average. rusland is dan een donkey op basis van gewicht << andere dieren</h2>
</article>
<article class="snap-item">
    <h2>football field: 109.7 meter > Length of two average cars - 3 Ping Pong Tables - orca</h2>
</article>
<article class="snap-item">
    <h2>Russia gdp: $1,578,417,211,937 > Angola	$122,123,822,334. 13x kleiner</h2>
</article>
<article class="snap-item">
    <h2>weer chart met rusland als staat als 4de</h2>
    <p>- 3 staten met grotere gdp(californie zelfs dubbel) en florida bijna</p>
</article>
<article>
    <h2>Rusland ten opzichte van vs is als angola vs Rusland</h2>
</article>