---
title: "The size of the Russian economy "
summary: "A look at Russian GDP(the total production of a country in a year) and thus its (economic) power"
image: /images/russia-gdp-banner.jpg
imageAlt: "Industry in Russia"
jsUrl: '/js/subject-russia-gdp.js'
sources: 
   gdp: https://www.imf.org/en/Search#q=world%20gdp%20ranking%202022&sort=relevancy
   russia: "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?locations=RU"
   unitedStates: "https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?locations=US&most_recent_value_desc=true"
---

<article class="snap-item">
   <div class="snap-item__header">
      <h2>The ten largest economies in the world</h2>
   </div>
   <div class="snap-item__visual">
      <canvas class="snap-item__chart" id="russia-and-others-chart"></canvas>
   </div>
   <div class="snap-item__text-block">
      <p>
         Prior to the war, Russia was the #9th economy in the world. It's economy is many times smaller than that of the superpowers China and United States
      </p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>The Russian economy compared to Europe</h2>
   </div>
   <div class="snap-item__visual">
      <canvas class="snap-item__chart" id="russia-in-europe-chart"></canvas>
   </div>
   <div class="snap-item__text-block">
      <p>In Europe, Russia is the 5th largest economy. Similar in size to Italy and only 40% the size of the German economy.</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>The Russian economy compared to small countries</h2>
   </div>
   <div class="snap-item__visual">
      
   </div>
   <div class="snap-item__text-block">
      <p>Russia's economy is similar in size to the BeNeLux(Belgium, The Netherlands, Benelux)</p>
      <p>Russia's economy is similar in size to South Korea</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>The Russian economy compared to the United States</h2>
   </div>
   <div class="snap-item__visual">
   </div>
   <div class="snap-item__text-block">
      <p>The United States has a GDP of 177878263 while Russia has a GDP of 2331508056. It is <em>13 times</em> smaller</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>The Russian economy compared to the United States</h2>
   </div>
   <div class="snap-item__visual">
   </div>
   <div class="snap-item__text-block">
      <p>If the Russian economy would be a [[mouse]], The United States is an [[elephant]] in comparison</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>The Russian economy compared to the United States</h2>
   </div>
   <div class="snap-item__visual">
   </div>
   <div class="snap-item__text-block">
      <p>football field: 109.7 meter > Length of two average cars - 3 Ping Pong Tables - orca</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>Angola's GDP compared to Russia</h2>
   </div>
   <div class="snap-item__visual">
      <img src="/images/subject-russia-gdp/angola.svg" alt="Outlines of the country of Angola" />
   </div>
   <div class="snap-item__text-block">
      <p>Angola has a GDP of $122,123,822,334. Which is roughly 13x smaller than Russia's gdp: $1,578,417,211,937.</p>
      <p>Angola has the same relative economic power to Russia as Russia does to The United States</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>Russia as an American state</h2>
   </div>
   <div class="snap-item__visual">
   </div>
   <div class="snap-item__text-block">
      <p>If Russia would be an American state, it would be the fourth state in economic size.</p>
      <p>Considering projected growth and the war, realistically Florida has already overtaken Russia as well.</p>
   </div>
</article>
<article class="snap-item">
   <div class="snap-item__header">
      <h2>California compared to Russia</h2>
   </div>
   <div class="snap-item__visual">
   </div>
   <div class="snap-item__text-block">
      <p>California's GDP on its own is almost twice the size of the entirety of Russia</p>
   </div>
</article>