---
title: "The size of the Russian economy"
summary: "A closer look at the GDP(gross domestic product) of Russia relative to other economies, for a better understanding of Russia's relative economic power."
imageUrl: /images/subject-russia-gdp/russia.svg
imageAlt: "Outlines of Russia"
jsUrl: '/js/subject-russia-gdp.js'
source1Url: https://www.imf.org/en/Publications/WEO/weo-database/2023/October/weo-report?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698,&s=NGDPD,&sy=2021&ey=2028&ssm=0&scsm=1&scc=0&ssd=1&ssc=0&sic=0&sort=country&ds=.&br=1
source1Text: GDP per country measured by the International Monetary Fund (October 2023)
source2Url: https://www.bea.gov/data/gdp/gdp-state
source2Text: GDP per American state measured by the U.S. Bureau of Economic Analysis (September 2023)
---

<article class="subject">
   <div class="subject__container">
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The eleven largest economies in the world</h2>
         </div>
         <div class="subject__explanation">
            <p>
               Russia's GDP is 1,862 trillion, this makes it only the 11th largest economy in the world
            </p>
         </div>
      </div>
      <div class="subject__visual-block">
         <canvas class="subject__chart" id="russia-and-others-chart"></canvas>
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__visual-block">
         <canvas class="subject__chart" id="russia-in-europe-chart"></canvas>
      </div>
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The Russian economy compared to Europe</h2>
         </div>
         <div class="subject__explanation">
            <p>In Europe, Russia is the 5th largest economy. Smaller than Italy(2,186) and only 40% the size of the German economy(4,430)</p>
         </div>
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The Russian economy compared to small countries</h2>
         </div>
         <div class="subject__explanation">
            <p>This makes it equal in size to South Korea(1,709) or the combined economies of Belgium + Netherlands(1,720)</p>
         </div>
      </div>
      <div class="subject__visual-block">
         
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__visual-block">
      </div>
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The Russian economy compared to the United States</h2>
         </div>
         <div class="subject__explanation">
            <p>The United States has a GDP of 26,950 while Russia has a GDP of 1,862. It is <em>13 times</em> smaller</p>
         </div>
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>What 13x smaller means</h2>
         </div>
         <div class="subject__explanation">
            <p>An african elephant can grow to becoome 4 meter(13 feet) tall. 13 times smaller is 30cm(1 foot). The size of a large pizza</p>
         </div>
      </div>
      <div class="subject__visual-block">
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__visual-block">
      </div>
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>What 13x smaller means</h2>
         </div>
         <div class="subject__explanation">
            <p>The average height of a man, worldwide, is 1.70(5.5 feet). 13 times smaller is 13cm(0.5 feet)</p>
            <p>A regular computer mouse is about 14-15cm. Your computer mouse is relatively larger to you than Russia is to the USA</p>
         </div>
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The Russian economy compared to Ethiopia</h2>
         </div>
         <div class="subject__explanation">
            <p>Ethiopia has a GDP of $155,804. Which is roughly 13x smaller than Russia's gdp</p>
            <p>Ethiopia has the same relative economic power to Russia as Russia does to The United States</p>
         </div>
      </div>
      <div class="subject__visual-block">
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__visual-block">
      </div>
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>The Russian economy compared to the Puerto Rico</h2>
         </div>
         <div class="subject__explanation">
            <p>Puerto Rico has a GDP of (117,515) which makes it 15x smaller than Russia</p>
            <p>Russia's GDP is 13x smaller than The United States</p>
         </div>
      </div>
   </div>
</article>
<article class="subject">
   <div class="subject__container">
      <div class="subject__text-block">
         <div class="subject__header">
            <h2>Russia as an American state</h2>
         </div>
         <div class="subject__explanation">
            <p>If Russia would join the USA and become the 51th state, it would only be the 4th largest state.</p>
            <p>Russia half roughly half the GDP of California(3,755)</p>
         </div>
      </div>
      <div class="subject__visual-block">
      </div>
   </div>
</article>