---
title: "Visualized subjects"
layout: "base.njk"
---

{#<h2 class="projects__heading">Recent projects</h2> #}
{# <div class="project-list">
   {% for subject in collections.subjects %}
      {% include "subject-card.njk" %}
   {% endfor %}
</div> #}